.category_card__container>a {
    text-decoration: none;
}

.category_card_icon:hover {
    background-color: rgb(110, 110, 110);
    color: white;
}

.category_card_icon {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    color: black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

.category_card_icon img {
    max-width: 80px;
    height: 40px;
}

.category_card_icon p {
    font-size: 15px;
    margin: 0;
}

.category_edit_delete_btn {
    display: flex;
    justify-content: space-evenly;
    
}
.category_edit_delete_btn button{
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    transition: all 0.3s ease-in-out;
}
.category_edit_btn:hover {
 color: rgb(0, 235, 0);
}
.category_delete_btn:hover {
    color: red;
   }