.category_container {
    background-color: rgb(232, 217, 217);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* align-items: center; */
}

.category-img-card {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.category_img {
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
    border-radius: 50px;
}

.category_name {
    display: flex;
    justify-content: center;
}