.static_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info h1 {
  display: flex;
  justify-content: center;
}

.phone__alt {
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  color: rgb(117, 138, 117);
}

.title_menu:hover {
  background-color: rgb(227, 0, 0);
  color: white;
}
.login_container_staticinfo{
  padding-top: 15px;
}
.login_btn_staticinfo {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px  10px;
}

@media (max-width:1000px) {
  .phone__alt {
    display: flex;
    font-size: 20px;
    color: rgb(117, 138, 117);
    flex-direction: column;
  }
}

@media (max-width:498px) {

  .info h1 {
    font-size: 25px;
  }
}

@media (max-width:428px) {
  .phone__alt h3 {
    font-size: 17px;
  }

}

@media (max-width:400px) {
  .phone__alt {
    width: 111%;
    display: flex;
    flex-direction: column;
    color: rgb(117, 138, 117);
  }

}