.static_info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.info h1 {
  display: flex;
  justify-content: center;
}

.phone__alt {
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  color: rgb(117, 138, 117);
}

.title_menu {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.75rem 3rem;
  background-color: rgb(235, 109, 109);
  color: #fff;
  border-radius: 4px;
  border: 0;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  display: flex;
}

.title_menu:hover {
  background-color: rgb(227, 0, 0);
  color: white;
}

@media (max-width:1000px) {
  .phone__alt {
    display: flex;
    font-size: 20px;
    color: rgb(117, 138, 117);
    flex-direction: column;
  }
}

@media (max-width:498px) {

  .info h1 {
    font-size: 25px;
  }
}

@media (max-width:400px) {
  .phone__alt {
    width: 111%;
    display: flex;
    flex-direction: column;
    color: rgb(117, 138, 117);
  }

}