.categories_container__sx {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 1rem;
    position: sticky;
    top: 0;
    background-color: #d6d6d6;
}

.categories_modal_add {
    margin-bottom: 25px;
    font-size: 3rem;
    background-color: transparent;
    border: 0;
}

.categories_modal_submit {
    background: black;
    border-radius: 4px;
    color: #dedede;
    padding: 0.75rem 3rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.modal_container {
    display: flex;
}

.modal_categories {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal_categories img {
    border-radius: 25px;
    height: 80px;
}

.categories_modal_submit:hover {
    background-color: #04aa6d;
    color: black;
}

.modal_categories_btn {
    display: flex;
    justify-content: center;
}